@import  '../../styles/variables.scss';


.homepage-container{
    height: 260vh;
    
    .homepage-inner-container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, .5fr);
        background-image:url("https://images.unsplash.com/photo-1531776691428-a0096d20137c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


        .app-logo{
            grid-area: 1/ 1/ 1/ 1;
            
            .logo{
                margin: 33%;
                font-size: 9em;
                font-weight: 400;
                color: $mango;
            }
        }

        .nav-bar{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 10%;
            grid-area: 1/ 2/ 1/ 7;

            .nav-links{
                display: flex;
                flex-direction: row;
                list-style-type: none;
                color: $gold;
                margin: 0%;
                height: 100%;
                justify-content: flex-end;
                width: 100%;
                height: 10%;
    
                .link{
                    color: $gold;
                    font-family: $Comfortaa;
                    font-size: 1.2em;
                    margin: 8% 5% 2% 0%;
                    padding: 0% 0% 2% 0%;
                    text-decoration: none;
                }

                .link:hover{
                    border-bottom: 3px solid $gold;
                    color: $vanilla;
                }
            }
        }

        .app-title1{
            color: $bones;
            font-size: 6em;
            font-family: $poiret-one;
            text-align: left;
            grid-area: 2/ 4/ 3/ 6;
        }

        .app-title2{
            color: $bones;
            font-size: 4em;
            font-family: $poiret-one;
            text-align: left;
            grid-area: 3/ 4/ 5/ 6;
            margin: -15% 0% 0% 0%;
        }

        .intro{
            margin: 10% 0% 0% 0%;
            grid-area: 3/ 4/ 5/ 6;
            font-family: $poiret-one;
            color: $bones;
            font-size: 1.5em;
            font-weight: 400;
            text-align: left;
        }


        .find-activitty-container{
            grid-area: 4/ 4/ 6/ 5;
            @include buttonStyle;
            background-color: lighten(#1a1c20, 30%);
            height: 14%;

            .find-button{
                color: $gold;
                background-color: transparent;
                text-decoration:none;
                font-family: $Comfortaa;
                font-size: 1em;
                border: none;
            }
            .find-button:hover{
                background-color: $bones;
                color: $darkPurple;
            }
        }

        .find-activitty-container:hover{
            background-color: $bones;
            color: $darkPurple;

            .find-button:hover{
                background-color: $bones;
                color: $darkPurple;
            }
        }
    }

    .team-section{
        background-color:darken($light, 5%);

        .team-title{
            margin: 0%;
            padding: 4%;
            font-family: $Oswald;
            font-size: 2.5em;
        }

        .team-container{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            background-color: $dark;
            height: 57vh;
            padding: 5%;

            .desc{
                font-family: $Oswald;
            }
            .description1{
                color: $bones;
                grid-area: 2/ 2 / 2 / 3;
            }
            .description2{
                color: $bones;
                grid-area: 4/ 3 / 5 / 4;
            }
            .description3{
                color: $bones;
                grid-area: 2/ 4 / 4 / 5;
            }

            .dev{
                background-color: darkolivegreen;
                background-image: url("https://images.unsplash.com/photo-1588772532592-92cf38019b1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1993&q=80");
                background-size: cover;
                grid-area: 1/ 3 / 3 / 4;
                height: 100%;
                width: 100%;
                position: relative;

                .border{
                    @include border;
                }
            }

            .developer-card2{
                grid-area: 3/ 2 / 5 / 3;
            }

            .developer-card3{
                grid-area: 3/ 4 / 5 / 5;
            }
        }
    }
}
