@import url(https://fonts.googleapis.com/css2?family=Poiret+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500&display=swap);
//font families
$poiret-one: 'Poiret One', cursive; 
$Comfortaa: 'Comfortaa', cursive; 
$Oswald: 'Oswald', sans-serif;
//colors
$purple: #794C74;
$mexicanPink: #C56183;
$mango: #fadcaa;
$cloud: #b2deec;
$marineBlue: #00416d;
$gold: #f8bd7f;
$bones: #f5f1da;
$vanilla: #e3dfc8;
$light: #eeecda;
$darkPurple: #1a1c20;
