@import url(https://fonts.googleapis.com/css2?family=Poiret+One&display=swap);

$poiret-one: 'Poiret One', cursive;; 

$purple: #794C74;
$mexicanPink: #C56183;
$mango: #fadcaa;
$cloud: #b2deec;
$marineBlue: #00416d;
$gold: #f8bd7f;
$bones: #f5f1da;
$vanilla: #e3dfc8;
